// Defaults
@import './_variables';
@import './table';

.App {
    display: flex;
    flex-direction: column;

    header {
        display: flex;
        justify-content: center;

        .header-container {
            text-align: center;
            width: 820px;
        }

        nav {
            display: flex;
            justify-content: space-between;
    
            .nav__interactive {
                display: flex;
                justify-content: space-between;
    
                &__pagination {
                    padding: 0 8px;

                    &.--inactive {
                        color: $dark-grey;
                        display: none;
                    }
                }

                &__nav_arrow {
                    cursor: pointer;

                    &.--inactive {
                        color: $dark-grey;
                    }
                }
            }
        }
    }

    .search-container {
        display: flex;
        justify-content: center;
    }
}